In [1]:
# Import the necessary modules
import pyodbc
import pandas as pd

In [2]:
# Define the connection and specify a query to run
# Change the values of server & PWD & warehouse to match your demo environment
cn_str = '''Driver={SnowflakeDSIIDriver};
    server=XXXX.snowflakecomputing.com;
    database=sales;
    warehouse=xxxx;
    UID=xxxx;
    PWD=xxxx'''
cn = pyodbc.connect(cn_str)
cn.setencoding('utf-8')

sql = "select * from sales.public.customer limit 10000"

In [3]:
# Run the SQL and store the results in the res object
#%%time
res = cn.execute(sql).fetchall()

In [4]:
# Run the SQL And store the results in the df object
#%%time
df = pd.read_sql(sql, cn)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
C _ C U S       10000 non-null float64
C _ N           10000 non-null object
C _ A D D       10000 non-null object
C _ N A T I     10000 non-null float64
C _ P H         10000 non-null object
C _ A C C       10000 non-null float64
C _ M K T S     10000 non-null object
C _ C O M       10000 non-null object
dtypes: float64(3), object(5)
memory usage: 625.1+ KB

In [6]:
pd.isnull(df).any()

C _ C U S       False
C _ N           False
C _ A D D       False
C _ N A T I     False
C _ P H         False
C _ A C C       False
C _ M K T S     False
C _ C O M       False
dtype: bool

In [7]:
df.describe()

          C _ C U S  C _ N A T I     C _ A C C
count  1.000000e+04  10000.00000  10000.000000
mean   4.630452e+06     11.96070   4505.595198
std    1.993393e+06      7.23479   3155.296896
min    5.000010e+05      0.00000   -999.940000
25%    4.950709e+06      6.00000   1802.407500
50%    5.351160e+06     12.00000   4445.675000
75%    5.800076e+06     18.00000   7248.287500
max    8.028928e+06     24.00000   9999.590000