In [1]:
# Import the various modules required to make a simple Snowflake connection from Python
import snowflake.connector
from snowflake.connector.converter_null import SnowflakeNoConverterToPython
import pandas as pd

In [2]:
# Modify this cell to include information about your demo account
ACCOUNT = 'xxxx'
USER = 'xxxx'
PASSWORD = 'xxxx'

con = snowflake.connector.connect(
  user=USER,
  password=PASSWORD,
  account=ACCOUNT
    ,converter_class=SnowflakeNoConverterToPython
)

In [3]:
# Create a variable called sql and specify a query that it will store
sql = "select * from sales.public.customer limit 10000"

In [4]:
# Specify the virtual warehouse and role we want to use
con.cursor().execute("USE WAREHOUSE xxxx")
con.cursor().execute("USE role xxxx")

In [5]:
# Execute the query using the Python connector
#%%time
res = con.cursor().execute(sql).fetchall()

In [6]:
# Run that same query, but this time use the read_sql method
# in the Pandas data frame object
#%%time
df = pd.read_sql(sql, con)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
C_CUSTKEY       10000 non-null object
C_NAME          10000 non-null object
C_ADDRESS       10000 non-null object
C_NATIONKEY     10000 non-null object
C_PHONE         10000 non-null object
C_ACCTBAL       10000 non-null object
C_MKTSEGMENT    10000 non-null object
C_COMMENT       10000 non-null object
dtypes: object(8)
memory usage: 625.1+ KB

In [7]:
# Get a count of distinct customers by market segment
df.groupby('C_MKTSEGMENT')[['C_CUSTKEY']].count()

              C_CUSTKEY
C_MKTSEGMENT
AUTOMOBILE         2043
BUILDING           1938
FURNITURE          2060
HOUSEHOLD          1989
MACHINERY          1970

In [8]:
# Check to see if any of the columns have null values
pd.isnull(df).any()

C_CUSTKEY       False
C_NAME          False
C_ADDRESS       False
C_NATIONKEY     False
C_PHONE         False
C_ACCTBAL       False
C_MKTSEGMENT    False
C_COMMENT       False
dtype: bool

In [9]:
type(res)

list

In [10]:
print (res[0])

('5050001', 'Customer#005050001', 'h2Q2lfB QpSuOt32ZDV7S8RsTKgedv4w9s9wa', '18', '28-680-716-8960', '4571.61', 'AUTOMOBILE', 'e thinly bold ideas. carefully final pinto beans cajole across')

In [11]:
unique_cust_key = []
z = []
for x in res:
    z.append((x[0],x[6]))

for x in z:
    if x not in unique_cust_key:
        unique_cust_key.append(x)
    
# initailize a null list 
unique_list = []

# traverse for all elements 
for x in unique_cust_key:
    # check if exists in unique_list or not 
    if x[1] not in unique_list:
        unique_list.append(x[1])
       
def countX(lst, x):
    count = 0
    for y in lst:
        if (y[1] == x):
            count = count + 1
    return count

for a in unique_list:
    print('{} has occured {} times'.format(a, countX(unique_cust_key, a)))

AUTOMOBILE has occured 1974 times
BUILDING has occured 1964 times
MACHINERY has occured 1989 times
HOUSEHOLD has occured 2025 times
FURNITURE has occured 2048 times