In [1]:
# Import the appropriate packages & modules
import snowflake.connector
from snowflake.connector.converter_null import SnowflakeNoConverterToPython
import pandas as pd 
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
import sqlalchemy as sa

In [2]:
# Set some variables for the account, user & Password
# Modify this section to match your demo account
# and create an 'engine' for the Snowflake connection
ACCOUNT = 'xxxx'
USER = 'xxxx'
PASSWORD = 'xxxx'

engine = create_engine(URL(
    account = ACCOUNT,
    user = USER,
    password = PASSWORD,
    database = 'sample',
    schema = 'public',
    warehouse = 'xxxx',
    role='xxxx',
))

sql = "select * from sales.public.customer limit 1000"

In [3]:
# Use Pandas dataframe method read_sql_query to execute SQL in SQL Alchemy 
#%%time
df = pd.read_sql_query(sql, engine)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
c_custkey       1000 non-null int64
c_name          1000 non-null object
c_address       1000 non-null object
c_nationkey     1000 non-null int64
c_phone         1000 non-null object
c_acctbal       1000 non-null float64
c_mktsegment    1000 non-null object
c_comment       1000 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 62.6+ KB

In [5]:
pd.isnull(df).any()

c_custkey       False
c_name          False
c_address       False
c_nationkey     False
c_phone         False
c_acctbal       False
c_mktsegment    False
c_comment       False
dtype: bool

In [6]:
df.groupby('c_mktsegment')[['c_custkey']].count()

              c_custkey
c_mktsegment
AUTOMOBILE          198
BUILDING            195
FURNITURE           187
HOUSEHOLD           207
MACHINERY           213